
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}
body {
    background-image: url('home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2eaea;
    position: relative;
    min-height: 126vh;
    
   
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(23, 65, 148, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.header {
  border: 1px solid white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  color: white;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
  background: transparent;
  box-sizing: border-box;
  
  
}

.header .logo {
  font-size: 2.5em;
  font-weight: bolder;
  color: var(--white);
  text-decoration: none;

}

.header a{
  font-size: 1rem;
  margin: 0 6rem;
  color: var(--white);
  text-decoration: none;

}
header ul{
  color: white;
  font-size: 1rem;
  margin: 0 15rem;
  text-decoration: none;
}
.nav-links {
  list-style: none;
  display: flex;
  gap: 1em;
  margin: 0;
  padding: 0;
  
}
#home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  
}


.btn{   
    
    text-align: center;
    display: inline-block;
    padding: 20px 40px;
    color: white;
    font-weight:bold;
    background-color: rgba(242, 233, 54, 0.325);
    border: 2px solid yellow;
    font-size: 1rem;
    margin-top: 30px;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    align-content: center;
    text-decoration: none;
    margin-left: 150px;
   
  }


  .home-container h1{
    color:rgb(255, 255, 255);
    font-weight:bold;
    font-size: 80px;
    text-align: center;
    margin-top: -100px;
    

  }
  .home-container h2{
    color: white;
    font-size: 20px;
    font-weight: 100;
    text-align: center;
    font-style: none;
    margin-top: -50px;
    

  }
  .container {
    max-width: 800px;
    margin-top: 1800px;
    padding: 20px;
  }
  
  .container h1{
    text-align: center;
  }

  .container p{
    text-align: center;
  
  }
  
  .campaigns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
  }
  
  .campaign {
    width: 250px;
    margin-bottom: -70px;
    text-align: center;
    background-color: rgb(254, 250, 244);
    border-radius: 20px;

  }
  
  .campaign img {
    max-width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
  }
  
  .campaign h3 {
    margin-top: 10px;
  }
  
  .campaign p {
    font-size: 14px;
    line-height: 1.4;
  }
  
  .campaign a {
    display: inline-block;
    background-color: transparent;
    color: #342ccf;
    padding: 8px 16px;
    text-decoration: none;
    margin-top: 10px;
  }
  
  @media (max-width: 768px) {
    .campaigns {
      flex-direction: column;
      align-items: center;
    }
  
    .campaign {
      width: 80%;
    }
  }
  .profile-container {
    margin-top: -100px;
    max-width: 800px;
    margin: 10px 0px -650px 0;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.profile-container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

.profile-container p {
    line-height: 1.5;
    margin-bottom: 40px;
}

.profile-container span {
    color: blue;
    cursor: pointer;
}

.profile-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.profile {
    text-align: center;
    width: 230px;
    height: 500px;
}

.profile img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    width: 500px;
    height: 350px ;
}

.profile h3 {
    margin-top: 10px;
}

@media (max-width: 768px) {
    .profile-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}
.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  background: rgb(31, 30, 30);
  position: absolute;     
  left: 0;
  right: 0;
  bottom: 0;
  height: 300px;
  padding-top: 80px;
  color: #fff;
  text-decoration: none;
}

.footer-content h4 {
  color: var(--white);
  font-size: 20px;
  /* margin-top: 40px; */
  margin-bottom: 20px;
  margin-left: 7rem;
  text-decoration: none;
}

.footer-content li {
  list-style-type: none;
  margin-bottom: 5px;
  margin-left: 7rem;
  text-decoration: none;

}

.footer-content li a {

  display: block;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  transition: all .40s ease;
  text-decoration: none;
}

.footer-content li a:hover {
  transform: translateY(-3px) translateX(-5px);
  cursor: pointer;
  color: aqua;
}


.footer .logo-foot {
  font-size: 2.5em;
  font-weight: bolder;
  /* color: var(--orange); */
  color: var(--white);
  margin-left: 9.5rem;
  margin-bottom: 20px;


}

.footer .par {
  color: var(--white);
  line-height: 1.6;
  /* font-weight: 1.7rem; */
  font-size: 1.1rem;
  margin-left: 9.5rem;
  margin-bottom: 30px;
  margin-top: 20px;
  text-transform: uppercase;


}
.footer-icons{
  margin-left: 9.5rem;
}


.footer-icons a {
  display: inline-block;
  /* font-size: 22px; */
  /* color: var(--white); */
  margin-right: 25px;
  /* margin-left: 9.5rem; */
  transition: all .40s ease;
 

}
.twitter{
  color: #000000;
  border: 0px solid;
  height: 2rem;
  width: 2rem;
  line-height: 2rem;
  border-radius: 2.5rem;
  background: #eee;
  font-size: 2rem;
  margin-right: 3rem;
  text-align: center;
}

.footer-icons a:hover {
  transform: translateY(-5px);
  cursor: pointer;
  color: black;
}






  
